html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    color: #1A1A27;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: #712426;
}

p {
    color: #4c4c65;
}

#home {
    width: 100%;
    height: 100%;
    background-image: url(/images/bg.png);
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home-top {
    height: 50%;
    min-height: 50%;
    width: 100%;
}

.home-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.placeholder {
    width: 100%;
}

.intro {
    padding: 2em 2em;
}

.hello {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 1.25em;
    color: rgba(96, 96, 134, .75);
}

.headline {
    font-size: 2em;
    line-height: 1.65;
    margin: 0;
    color: #4c4c65;
}

.home-links {
    font-family: 'Rubik', sans-serif;
    margin-top: 1.25em;
    margin-bottom: 0;
    color: rgba(96, 96, 134, .75);
    list-style: none;
    display: inline-block;
    padding: 0;
}

.home-links a,
li {
    display: inline-block;
    margin-bottom: .25rem;
}

.home-links li {
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.home-links a {
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: #4c4c65;
    margin-left: .3rem;
}

#about {
    position: relative;
    padding: 4rem 0;
    min-height: 400px;
}

.about-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    width: 100%;
    background-image: url(/images/matt-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    z-index: -1;
}

.about-inner {
    width: 94%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-pic {
    margin: 0 0 1em 0;
    background-image: url(/images/matt-profile-pic.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.about-info {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.button {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 100%;
    margin: .5rem 0;
    background: #797979;
    color: #222;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
}

.resume-button {
    background: #1A1A27;
    color: #fff;
}

#portfolio {
    width: 100%;
    background: #EBEBEB;
    height: 500px;
    text-align: center;
}

.portfolio-intro {
    padding: 2rem;
}

.portfolio-intro h2 {
    margin: 0;
}

.portfolio-content {
    margin: 0 auto;
    padding: 0 2rem;
}

.portfolio-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*TODO: media queries*/

@media screen and (min-width: 700px) {
    .hello {
        font-family: 'Rubik', sans-serif;
        margin: 0;
        font-size: 1.75em;
        color: rgba(96, 96, 134, .75);
    }
    .headline {
        font-size: 3em;
        line-height: 1.65;
        margin: 0;
        color: #4c4c65;
    }
    .home-links a,
    li {
        display: inline-block;
        margin-bottom: .25rem;
    }
    .home-links li {
        margin-right: 1.5rem;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .home-links a {
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: #4c4c65;
        margin-left: .3rem;
    }
    .intro {
        padding: 2em 4em;
    }
    .button {
        width: auto;
        padding: 0 1.5rem;
        margin-right: .5rem;
    }
    .about-inner {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .about-info {
        order: 1;
        flex-grow: 2;
        flex-shrink: 2;
    }
    .about-pic-wrapper {
        order: 2;
        align-self: flex-end;
        margin: auto 2rem;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .about-pic {
        width: 17.5rem;
        height: 17.5rem;
    }
    .portfolio-intro h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin: 0 2rem;
    }
}