html {
    font-sizing: 65%;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: #712426;
}

p {
    color: #4c4c65;
}

header {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 700;
}

header .mh-logo {
    top: 25px;
    position: absolute;
    left: 25px;
    margin: 0;
    padding: 0;
}

header .mh-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 55px;
    height: 55px;
    background: url(/images/mh-logo.png) no-repeat center;
    background-size: 55px 55px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#home {
    width: 100%;
    height: 100%;
    background-image: url(/images/fresno.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000000;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background: linear-gradient(to right, black 0%, black 20%, transparent 100%);
}

.home-content {
    width: 100%;
    height: 100%;
    min-height: 654px;
    display: table;
    position: relative;
}

.intro {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 4rem 2.5rem 2.5rem 2.5rem;
}

.hello {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.55);
    letter-spacing: .15rem;
}

.headline {
    line-height: 1.45;
    font-size: 1.8rem;
}

.headline h1 {
    margin-bottom: 2rem;
}

.home-links {
    font-family: 'Rubik', sans-serif;
    margin-top: 1.25em;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.55);
    list-style: none;
    display: inline-block;
    padding: 0;
    letter-spacing: .1rem;
}

.home-links a,
li {
    display: inline-block;
    margin-bottom: .25rem;
    line-height: 1rem;
}

.home-links li {
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: .75rem;
    width: 100%;
}

.home-links a {
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    margin-left: .3rem;
    letter-spacing: .05rem;
}

#about {
    position: relative;
    padding: 4rem 0;
    min-height: 400px;
}

.about-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    width: 100%;
    background-image: url(/images/matt-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    z-index: -1;
}

.about-inner {
    width: 94%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-pic {
    margin: 0 0 1em 0;
    background-image: url(/images/matt-profile-pic.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.about-info {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.about-info h1,
h3 {
    color: #1A1A27;
}

.button {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 100%;
    margin: .5rem 0;
    background: #797979;
    color: #222;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
}

.resume-button {
    background: #1A1A27;
    color: #fff;
}

#portfolio {
    width: 100%;
    background: rgba(0, 0, 0, 0.075);
    text-align: center;
    padding: 2rem 0 2rem;
}

.portfolio-intro {
    padding: 0 1.5rem 0 1.5rem;
    margin-bottom: .5rem;
}

.portfolio-intro h1 {
    color: #1A1A27;
}

.portfolio-intro h2 {
    margin: 0;
}

.portfolio-content {
    box-sizing: inherit;
    margin: 0 auto;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
}

.portfolio-content h2 {
    color: #712426;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio-list li {
    position: relative;
    margin: 3rem 0;
    display: list-item;
    text-align: left;
}

.portfolio-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    float: none;
    clear: both;
    opacity: .2;
    z-index: -1;
}

.portfolio-description {
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.mu-blog-screenshot {
    background-image: url(/images/portfolio/mu-blog-screenshot.png);
}


/*TODO: media queries*/


/*@media screen and (min-width: 700px) {
    #home {
        min-height: 702px;
    }
    .hello {
        font-family: 'Rubik', sans-serif;
        margin: 0;
        font-size: 1.75em;
        color: rgba(96, 96, 134, .75);
    }
    .headline {
        font-size: 3em;
        line-height: 1.65;
        margin: 0;
        color: #4c4c65;
    }
    .home-links a,
    li {
        display: inline-block;
        margin-bottom: .25rem;
        line-height: 2rem;
    }
    .home-links li {
        margin-right: 1.5rem;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .home-links a {
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: #4c4c65;
        margin-left: .3rem;
    }
    .intro {
        padding: 2em 4em;
    }
    .button {
        width: auto;
        padding: 0 1.5rem;
        margin-right: .5rem;
    }
    .about-inner {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .about-info {
        order: 1;
        flex-grow: 2;
        flex-shrink: 2;
    }
    .about-pic-wrapper {
        order: 2;
        align-self: flex-end;
        margin: auto 2rem;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .about-pic {
        width: 17.5rem;
        height: 17.5rem;
    }
    .portfolio-intro h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin: 0 2rem;
    }
}*/